@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap");

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--upperNav-color: #4a0000;
	--headingTxt-color: #059851;
	--atcButton-color: #005cb9;
	--lightFont-color: #f2f2f2;
	--darkFont-color: #0d0d0d;
	--font: "Inter", sans-serif;
	--current-page: #ff2121;
	--page-color: #dddddd;
	--footer-color: #212934;
    --ownerCredit-color: #1d242d;
    --abtandcont-color: #D9D9D9;
}

img {
    width: 100%;
    object-fit: cover;
}

body {
	font-family: var(--font);
	background-color: var(--page-color);
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* ================= PAGE DETAILS */
.page__details {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: var(--upperNav-color);
	padding: 0.5rem;
}

.page__details p {
	color: var(--lightFont-color);
}

.page__details p:first-child {
	margin-right: 1.5rem;
}

.page__details p:nth-child(2) {
	margin-right: auto;
}

.page__details a {
	border-bottom: 1px solid #f2f2f2;
	margin-left: 1rem;
	color: var(--lightFont-color);
}

.page__socials {
	margin-right: 1rem;
}

.page__socials img {
	width: 80px;
}

/* ================= END OF PAGE DETAILS */

/* ================= NAVBAR */
.nav__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1.5rem;
	background-color: var(--lightFont-color);
}

.nav__wrapper h1 {
	color: var(--headingTxt-color);
	font-size: 3rem;
}

.nav__wrapper .links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav__wrapper .links .link {
	margin: 0 1rem;
	font-size: 1.2rem;
}

.nav__wrapper .links .link a {
	color: var(--darkFont-color);
}

.current__page {
	border-radius: 40px;
	color: var(--lightFont-color) !important;
	background-color: var(--current-page);
	padding: 1rem;
}

/* ============= HOMEPAGE HEADER */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
}

header p {
    max-width: 79ch;
    margin-bottom: 1rem;
}

header .header__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex: 3;
    padding: 1rem;
}

header .header__heading {
	display: flex;
	align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

header .header__heading h1 {
	margin-right: 0.5rem;
	font-weight: 800;
    color: var(--headingTxt-color);
    font-size: 2.5rem;
}

header .header__heading span {
    font-size: 2rem;
    color: var(--headingTxt-color);
}

.banner__container {
    width: 600px;
    flex: 1;
}

.banner__container img {
    width: 100%;
}
/* ============= END OF HOMEPAGE HEADER */

/* ============= HOMEPAGE PET CATEGORIES */
section.homePetCategories__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1.5rem;
    background-color: var(--lightFont-color);
}

section.homePetCategories__container h1 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 1rem;
    color: var(--headingTxt-color);
}

div.homePetCategories__category {
    display: flex;
    gap: 3rem;
}

div.homePetCategories__pet {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--headingTxt-color);
}
/* ============= END OF HOMEPAGE PET CATEGORIES */

/* ============= HOMEPAGE BEST SELLER PRODUCTS */

section.homeBestSeller__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div.homeBestSeller__description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
}

section.homeBestSeller__container h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--headingTxt-color);
}

section.homeBestSeller__container p {
    max-width: 79ch;
}

div.homeBestSeller__products {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

div.homeBestSeller__product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--lightFont-color);
    margin: 1rem;
}

div.homeBestSeller__product p {
    max-width: 20ch;
    margin: 1rem;
}
/* ============= END OF HOMEPAGE BEST SELLER PRODUCTS */

/* ============ NAVIGATION ICONS */
.fa-solid {
	font-size: 1.4rem;
	margin: 0 0.5rem;
}

.fa-solid:hover {
	cursor: pointer;
}

/* ============ END OF NAVIGATION ICONS */

/* ============ FOOTER */
div.footerLinks__container {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
    background-color: var(--footer-color);
}

div.footerLinks__container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--lightFont-color);

}

div.footerLinks__container div p a {
    color: var(--lightFont-color);
}

div.footerLinks__container div > h2 {
    color: var(--headingTxt-color);
    text-align: center;
    margin-bottom: 1rem;
}

div.footerLinks__container div > span, p {
    margin-bottom: 1rem;
}

div.footerSocials__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer-color);
    padding: 1.5rem 3rem;
}

div.footerSocials__container h2 {
    color: red;
    font-weight: 400;
}

div.footerSocials__container div.footer__icons i {
    margin-right: 1rem;
    color: var(--lightFont-color);
    font-size: 1.5rem;
}
/* ============ END OF FOOTER */

/* ============ OWNER */
.owners {
    background-color: var(--ownerCredit-color);
    color: var(--lightFont-color);
    padding: 1rem;
}

.owners h3 {
    text-align: center;
    font-weight: 200;
}
/* ============ END OF OWNER */

/* ============ DRY AND WET FOODS */
div.wetFood__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
}

div.dryFood__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
}

div.treats__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
}

div.food__product {
    max-width: 290px;
    background-color: white;
    padding: 1rem;
}

div.food__product button {
    width: 100%;
    outline: none;
    border: none;
    color: var(--lightFont-color);
    background-color: var(--atcButton-color);
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

/* ============ END OF DRY AND WET FOODS */

/* =========== PRODUCT CATEGORY PAGE */

div.category__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

div.category__container h2{
    text-align: center;
    color: var(--headingTxt-color);
}

/* =========== END OF PRODUCT CATEGORY PAGE */

/* =========== ABOUT US PAGE */
main.about__main {
    width: 100%;
    display: flex;
    align-items: center;
}

div.about {
    width: 90%;
    text-align: center;
    background-color: var(--abtandcont-color);
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.about h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--headingTxt-color);
}

div.about p {
    max-width: 70ch;
    text-align: center;
    align-self: center;
    font-size: 1.3rem;
    line-height: 2;
}
/* =========== END OF ABOUT US PAGE */

/* =========== CONTACT PAGE */
main.main__contact {
    padding: 1rem;
}

div.contact {
    width: 90%;
    margin: 0 auto;
    background-color: var(--abtandcont-color);
    padding: 2rem;
}

div.contact h1 {
    text-align: center;
    color: var(--headingTxt-color);
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

div.contact ul {
    margin-bottom: 1.5rem;
}

div.contact li {
    list-style-type: disc;
    font-size: 1.3rem;
}

div.contact p {
    font-size: 1.3rem;
    line-height: 2;
    margin-bottom: 1.5rem;
}

div.contact h2 {
    margin-bottom: 1.5rem;
}
/* =========== END OF CONTACT PAGE */

/* ============== MOBILE VIEW */
    @media screen and (max-width: 600px){
        
    }
/* ============== MOBILE VIEW */